html,button,input,select,textarea {color: #222;}
html {font-size: 1em;line-height: 1.4;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
audio,canvas,img,video {vertical-align: middle;}
textarea {resize: vertical;}
.browsehappy {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
/*-----RESET-----*/
* {margin:0;padding:0;list-style:none;vertical-align:baseline;}
/*-----Ícones-----*/
@font-face {font-family: 'icomoon';src:url('../fonts/icomoon.eot?-10e19i');src:url('../fonts/icomoon.eot?#iefix-10e19i') format('embedded-opentype'),url('../fonts/icomoon.woff?-10e19i') format('woff'),url('../fonts/icomoon.ttf?-10e19i') format('truetype'),url('../fonts/icomoon.svg?-10e19i#icomoon') format('svg');font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-github:before {content: "\e60d";}
.icon-tumblr:before {content: "\e60e";}
.icon-linkedin:before {content: "\e612";}
.icon-github:hover {color:black;}
.icon-tumblr:hover {color:#2db7e2;}
.icon-linkedin:hover {color:#006599;}
.mls {margin-left: .25em;}
/*CORPO DA PÁGINA*/
body{position: relative;width: 100%;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 400;}
h1{box-sizing: border-box;padding: 2% 1%;margin-left: 11%;font-size: 6em;width: 250px;font-weight:400;display: inline-block; }
h2{margin-bottom: 2.5%;font-weight: 900;font-size: 1.7em;}
section .principal{position:relative;width: 100%;}
header{z-index:-80;height:200px;width:100%;background-color:#F1EED9;background-color:rgba(241,238,217,0.5);background-image: linear-gradient(to right, rgba(88,53,26,0.4) 1.5px, transparent 0.5px);background-size: 15px 15px;box-shadow: 7px 7px 5px 0px rgba(88,53,26, 0.3);border-radius: 0px 3px 30px 30px;}
.logo{width: 28%;margin: 2% auto;margin-left: 4.5%;}.header{
background-color:rgba(241,238,217,0.5);background-image: linear-gradient(to right,  #2E221F 1%,#58351A 1%,#e4efc0 7%,#F1EED9 83%);background-size: 15px 15px;box-shadow: 7px 7px 5px 0px rgba(88,53,26, 0.3);border-radius: 0px 3px 30px 30px;
}
.butt{box-sizing: border-box;float:right;cursor:pointer;background-color: rgba(108,198,68,0.9);color: white;font-size: 1em;font-weight: bold;padding: 0.5em 1em;text-decoration: none;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);position: relative;margin-right:13%;margin-top:80px;border-radius: 15px 2px 15px 2px;width: 250px;box-shadow: 4px 2px rgba(88,53,26,0.4);}.butt:hover{background-color:#4a7e9e;background-color: rgba(74,126,158,0.8);}
.butt:focus{outline: 0;}.butt:active{outline: 0;}
/*CONTEUDO PERFIL*/
article.conteudo{position: relative;width: 100%;}
.eu{margin-left: 3%;}
.espaco{margin-left: 2%;}
.imagem{margin:0 auto;width: 90%;margin-top:4em;}
.perfil-foto{position: relative;max-width:25%;border-radius: 0 50%;padding: 0;
margin-left: 8%;float: left;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.perfil-foto:hover{border-radius: 50% 0;}
.frase2{float: left;text-shadow: 2px -2px 8px rgba(150, 150, 150, 0.2);width: 40%;font-size: 2em;padding-top:7%;margin-left: 15%;}
.frase2{-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.frase2:hover{-webkit-transform: scale(1.05,1.05);-moz-transform: scale(1.05,1.05);-ms-transform: scale(1.05,1.05);-o-transform: scale(1.05,1.05);transform: scale(1.05,1.05);opacity: .9;}
p.frase2:before{content: open-quote;font-size: 2em;font-weight:bold;}
p.frase2:after{content: close-quote;font-size: 1.4em;font-weight: bold;}
/*HABILIDADES*/
.habilidades{width: 100%;float: left;clear: both;margin-top: 3%;}
.front, .back, .editorGrafico, .editorCodigo{margin-top: 5%;margin-left:5%;background-color:rgba(247,237,191,0.3);background-image: linear-gradient(to right, rgba(56,35,19,0.2) 1.5px, transparent 0.8px);background-size: 15px 15px;padding: 3.5%;width: 35%;-webkit-transition: padding 1.5s;-moz-transition: padding 1.5s;border-radius: 35px;float: left;text-shadow: 12px -2px 8px rgba(150, 150, 150, 0.1);}
.front:hover, .back:hover, .editorGrafico:hover, .editorCodigo:hover{box-shadow: 2px 4px 3px 0px rgba(88,53,26, 0.6);}
.editorGrafico, .front{background-color: rgba(180,177,120,0.8);background: linear-gradient(45deg,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 64%, rgba(214,219,191,1) 81%);background: -moz-linear-gradient(45deg,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 64%, rgba(214,219,191,1) 81%);
background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,255,232,1)), color-stop(64%,rgba(214,219,191,1)), color-stop(81%,rgba(214,219,191,1)));background: -ms-gradient(45deg,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 64%, rgba(214,219,191,1) 81%);}
.itens li{font-size: 1.2em;}
.complementares{float: left;clear: both;margin-top: 10%;width: 100%;outline: 0;background-image: -webkit-linear-gradient(-45deg,  #2E221F 1%,#58351A 17%,#e4efc0 57%,#F1EED9 63%);background-image: -moz-linear-gradient(-45deg,  #2E221F 1%,#58351A 17%,#e4efc0 57%,#F1EED9 63%);background-image: -o-linear-gradient(-45deg,  #2E221F 1%,#58351A 17%,#e4efc0 57%,#F1EED9 63%);background: -ms-linear-gradient(-45deg,  #2E221F 1%,#58351A 17%,#e4efc0 57%,#F1EED9 63%);}
.complementares li{font-size: 1.3em;line-height: 1.2;}
.cursos, .sistemasOP{
float: left;clear: both;width: 40%;margin: 0 3%;padding: 3%;-webkit-transition: all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;transition: all 1s linear;}
.sistemasOP{background:#F7EDBF;}
.cursos{background: #fdf3dc;}
.cursos:hover, .sistemasOP:hover{color:white;background:rgba(0,0,0,1);-webkit-transition:all 1s linear;-moz-transition: all 1s linear;-o-transition: all 1s linear;transition: all 1s linear;}
.form{float: left;clear: both;padding-bottom:1.5%;margin:0 auto;/* 7% 0 0 5%*/width: 60%;margin-left: 20%;margin-top: 7%;border-top: 1px solid rgba(106,77,48,0.9);-moz-box-shadow:  1px 2px 2px 2px rgba(106,77,48,0.9);-webkit-box-shadow: 1px 2px 2px 2px rgba(106,77,48,0.9);box-shadow:  1px 2px 2px 2px rgba(106,77,48,0.9);}
form{padding: 5%;}
label,.label{color: rgba(46,34,31,0.95);width: 100%;display: block;text-shadow: 1px 1px 1px #ccc;font-weight: 700;line-height: 40px;font-size: 1.4em;}
.label{font-size: 1.8em;font-weight: bold;color: rgba(46,34,31,1);}
input[type="submit"]{float: left;margin-top: 4%;font-weight: bold;line-height: 1;width:60px;height:60px;cursor:pointer;color: #fff;text-align: center;text-shadow: 0 -1px 15px #64799e;background: #4a7e9e;border: 1px solid #5c6f91;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}input[type="submit"]:active{outline: 0;}
 input[type="email"],textarea,input[type="text"]{font-size: 1em;display: block;border: 1.5px solid rgba(106,77,48,0.9);height: 30px;width: 95%;-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);-moz-border-radius: 0 10px;-ms-border-radius: 0 10px;-o-border-radius: 0 10px;-webkit-border-radius:0  10px;border-radius:0 10px  10px;padding-left:0.8%;}
input[type="email"]:focus, textarea:focus,input[type="text"]:focus{outline: 0;}
textarea{padding-top: 2%;resize:none;}
/*RODAPÉ*/
.footer{position: relative;width: 100%;clear: both;background:rgba(241,238,217,0.5);}
.footer nav{padding-top: 0;margin:0 auto;line-height: 2.5;position: absolute;   right: 10%;}
.footer nav li{display: inline-block;margin-left: 1.5em;font-size: 1.6em;}
.footer a{text-decoration:none;color: #382313;}
.w3c{float:right;margin-top: 3%;}
/*No JS*/
.no-js .butt{display: none;}
/*animated*/

.animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both; animation-fill-mode: both;}
.animated.hinge {-webkit-animation-duration: 2s;animation-duration: 2s;}
@-webkit-keyframes bounce{0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}}
@keyframes bounce {0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
-webkit-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);-ms-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
-webkit-transform: translate3d(0, -15px, 0);-ms-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
90% {-webkit-transform: translate3d(0,-4px,0);-ms-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}}
.bounce {-webkit-animation-name: bounce;animation-name: bounce;-webkit-transform-origin: center bottom;-ms-transform-origin: center bottom;transform-origin: center bottom;}
@-webkit-keyframes flash {0%, 50%, 100% {opacity: 1;}25%, 75% {opacity: 0;}}@keyframes flash {0%, 50%, 100% {opacity: 1;}25%, 75% {opacity: 0;}}
flash {  -webkit-animation-name: flash;  animation-name: flash;}
@-webkit-keyframes pulse {  0% {    -webkit-transform: scale3d(1, 1, 1);    transform: scale3d(1, 1, 1);  }
  50% {-webkit-transform: scale3d(1.05, 1.05, 1.05);transform: scale3d(1.05, 1.05, 1.05);}
  100% {-webkit-transform:scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
@keyframes pulse {0% {-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
50% {-webkit-transform: scale3d(1.05, 1.05, 1.05);-ms-transform: scale3d(1.05, 1.05, 1.05);transform: scale3d(1.05, 1.05, 1.05);}
100% {-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
.pulse {-webkit-animation-name: pulse;animation-name: pulse;}
@-webkit-keyframes rubberBand {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
30% {-webkit-transform: scale3d(1.25, 0.75, 1);transform: scale3d(1.25, 0.75, 1);}
40% {-webkit-transform: scale3d(0.75, 1.25, 1);transform: scale3d(0.75, 1.25, 1);}
50% {-webkit-transform: scale3d(1.15, 0.85, 1);transform: scale3d(1.15, 0.85, 1);}
65% {-webkit-transform: scale3d(.95, 1.05, 1);transform: scale3d(.95, 1.05, 1);}
75% {-webkit-transform: scale3d(1.05, .95, 1);transform: scale3d(1.05, .95, 1);}
100% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
.swing {-webkit-transform-origin: top center;-ms-transform-origin: top center;transform-origin: top center;-webkit-animation-name: swing;animation-name: swing;}
@-webkit-keyframes tada {0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
10%, 20% {-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
100% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
@keyframes tada {0% {-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}10%, 20% {-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
100% {-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
.bounceInLeft {-webkit-animation-name: bounceInLeft;animation-name: bounceInLeft;}
@-webkit-keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0% {opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
90% {-webkit-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}
100% {-webkit-transform: none;transform: none;}}
@keyframes bounceInRight {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}0% {
opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);-ms-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);-ms-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
75% {-webkit-transform: translate3d(10px, 0, 0);-ms-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
90% {-webkit-transform: translate3d(-5px, 0, 0);-ms-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}
100% {-webkit-transform: none;-ms-transform: none;transform: none;}}
.fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
@-webkit-keyframes fadeInDown {0% {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
100% {opacity: 1;-webkit-transform: none;transform: none;}}
@keyframes fadeInDown {0% {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);-ms-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
100% {opacity: 1;-webkit-transform: none;-ms-transform: none;transform: none;}}
.bounceInRight{-webkit-animation-name: bounceInRight;animation-name: bounceInRight;}
@-webkit-keyframes bounceInUp {0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0%{opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
60%{opacity: 1;-webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
75%{-webkit-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
90%{-webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
100%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}}
@keyframes bounceInUp {0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0%{opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);-ms-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
60%{opacity: 1;-webkit-transform: translate3d(0, -20px, 0);-ms-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
75%{-webkit-transform: translate3d(0, 10px, 0);-ms-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
90%{-webkit-transform: translate3d(0, -5px, 0);-ms-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
100%{-webkit-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}}
.fadeInDown{-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}
@-webkit-keyframes fadeInDownBig {0%{opacity: 0;-webkit-transform: translate3d(0, -2000px, 0);transform: translate3d(0, -2000px, 0);}
100% {opacity: 1;-webkit-transform: none;transform: none;}}
@keyframes fadeInDownBig {0% {opacity: 0;-webkit-transform: translate3d(0, -2000px, 0);-ms-transform: translate3d(0, -2000px, 0);transform: translate3d(0, -2000px, 0);}
100%{opacity: 1;-webkit-transform: none;-ms-transform: none;transform: none;}}
.shake{-webkit-animation-name: shake;animation-name: shake;}
@-webkit-keyframes swing {20%{-webkit-transform: rotate3d(0, 0, 1, 15deg);transform: rotate3d(0, 0, 1, 15deg);}
40%{-webkit-transform: rotate3d(0, 0, 1, -10deg);transform: rotate3d(0, 0, 1, -10deg);}
60%{-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
80%{-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
100%{-webkit-transform: rotate3d(0, 0, 1, 0deg);transform: rotate3d(0, 0, 1, 0deg);}}
@keyframes swing{20%{-webkit-transform: rotate3d(0, 0, 1, 15deg);-ms-transform: rotate3d(0, 0, 1, 15deg);transform: rotate3d(0, 0, 1, 15deg);}
40%{-webkit-transform: rotate3d(0, 0, 1, -10deg);-ms-transform: rotate3d(0, 0, 1, -10deg);transform: rotate3d(0, 0, 1, -10deg);}
60%{-webkit-transform: rotate3d(0, 0, 1, 5deg);-ms-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
80% {-webkit-transform: rotate3d(0, 0, 1, -5deg);-ms-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
100% {-webkit-transform: rotate3d(0, 0, 1, 0deg);-ms-transform: rotate3d(0, 0, 1, 0deg);transform: rotate3d(0, 0, 1, 0deg);}}
.tada {-webkit-animation-name: tada;animation-name: tada;}
@-webkit-keyframes wobble {0%{-webkit-transform: none;transform: none;}
15%{-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
30%{-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
45%{-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
60%{-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
75%{-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
100%{-webkit-transform: none;transform: none;}}
@keyframes wobble {0%{-webkit-transform: none;-ms-transform: none;transform: none;}
15%{-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);-ms-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
30%{-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);-ms-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
45%{-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);-ms-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
60%{-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);-ms-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
75%{-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);-ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
100%{-webkit-transform: none;-ms-transform: none;transform: none;}}
.wobble{-webkit-animation-name: wobble;animation-name: wobble;}
@-webkit-keyframes bounceIn{0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0%{opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
20%{-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
40%{-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
60%{opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
80%{-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}
100%{opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
@keyframes bounceIn {0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
0%{opacity: 0;-webkit-transform: scale3d(.3, .3, .3);-ms-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
20%{-webkit-transform: scale3d(1.1, 1.1, 1.1);-ms-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
40%{-webkit-transform: scale3d(.9, .9, .9);-ms-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
60%{opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);-ms-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
80%{-webkit-transform: scale3d(.97, .97, .97);-ms-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}
100%{opacity: 1;-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}}
/*MEDIA QUERYS*/
/*1600 px*/
@media (min-width: 95em){.principal{margin: 0 15em;}.complementares{border-radius: 30px 30px 0 0;}}
/*1120 px*/
@media (max-width: 72em){.front, .back, .editorGrafico, .editorCodigo{width: 30%;margin-left: 8%;}.frase2{font-size: 1.8em;margin-left: 18%; }   .cursos, .sistemasOP{padding: 2%;width: 50%;}.butt{margin-top: 70px;}}
/*880 px*/
@media (max-width: 57em){h1{display:block;font-size:5.5em;padding: 0;margin: 0 auto; }h2{font-size: 1.5em;line-height: 1em;font-weight:800;margin-bottom: 5%;}.front, .back, .editorGrafico, .editorCodigo{width: 38%;  padding: 2.6%;margin-left: 5%;}.frase2{font-size: 1.5em;margin-left: 10%;width: 40%;}.complementares li{font-size: 1em;}.habilidades{margin-top: 5%;}.butt{float:none;margin:0 auto;display: block;}}
/*782 px*/
@media (max-width: 48.9em){.frase2{font-size: 1.4em;width: 50%;}.front, .back, .editorGrafico, .editorCodigo{width: 42%;margin-left: 1.8%;}}
/*720px*/
@media (max-width: 45em){.form{box-shadow: none;margin-left: 10%;width: 75%}.front, .back, .editorGrafico, .editorCodigo{display: block;float: left;clear: both;width: 70%;padding: 5%;margin-left: 8%;}.frase2{width: 45%;margin-left: 5%;padding-top: 2%;}.eu{margin-left: 0;}.perfil-foto{margin-left: 10%;width:30%;border-radius: 20%;}.cursos, .sistemasOP{margin-left: 0;padding-bottom: 2em;max-width: 90%;width: 90%;}.footer nav li{margin-left: 1em;}h2{margin-bottom:2.5%;}}
/*608px*/
@media (max-width: 38em){.label{font-size: 1.4em;}label{font-size: 1em;}.perfil-foto{margin: 0 auto;width: 50%;max-width: 100%;margin-left: 22%;}.eu{margin-left: 3%;}.frase2{padding-top: 5%;font-size: 1.6em;clear:both;width: 75%;margin-left: 15%}.footer nav li {display: block;  border-top: 1px solid black;}.footer nav{margin-top:2em;left:1.5em;}}
/*480 px*/
@media (max-width: 30em){.butt{width: 185px;}.form{margin-left: 0;width: 90%;padding: 0 1em;}form{ padding: 0;width: 100%;}.frase2{font-size: 1.2em;width: 70%;}h1{font-size: 4.2em; width: 188px;}header{height: 140px;}}
/* 432 px*/
@media (max-width: 27em){.cursos, .sistemasOP{margin: 0;padding: 0;max-width:100%;width: 100%;}.lidaul{padding: 5%;padding-top: 2%;}.h2complementares{
margin-left: 3.5%;padding-top: 2%;}.frase2{width: 90%;margin-left: 5%;}.perfil-foto{margin: 0 auto;width: 90%;max-width: 100%;margin-left: 2.5%;}}
/*352px*/
@media(max-width: 22em){.form{padding: 0;width: 90%;padding-left: 2.5%;}input[type="email"],textarea,input[type="text"]{width: 100%;}}
@media(max-width: 20em){.frase2{font-size: 1.1em;}.complementares ul li{font-size: 0.65em;}h2complementares{font-size: 1em;}.habilidades ul li{font-size: 0.8em;}h2{font-size: 1em;}}
/*Image replacement*/
.ir{background-color: transparent;border: 0;overflow: hidden;/* IE 6/7 fallback */*text-indent: -9999px;}
.ir:before {content: "";display: block;width: 0;height: 150%;}
.hidden{display: none !important;visibility: hidden;}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible {visibility: hidden;}
.clearfix:before,.clearfix:after{content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after{clear: both;}
.clearfix {*zoom: 1;}
@media print{*{background: transparent !important;color: #000 !important;box-shadow: none !important; text-shadow: none !important;}
a,a:visited{text-decoration: underline;}
a[href]:after{content: " (" attr(href) ")";}
abbr[title]:after{content: " (" attr(title) ")";}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content: "";}
pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
thead{display: table-header-group;}tr,img {page-break-inside: avoid;}img {max-width: 100% !important;}
@page{margin: 0.5cm;}
p,h2,h3{orphans: 3;widows: 3;}
h2,h3{page-break-after: avoid;}}
