/*-----RESET-----*/
* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}
/*-----Ícones-----*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-10e19i');
	src:url('../fonts/icomoon.eot?#iefix-10e19i') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-10e19i') format('woff'),
		url('../fonts/icomoon.ttf?-10e19i') format('truetype'),
		url('../fonts/icomoon.svg?-10e19i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-github:before {
	content: "\e60d";
}
.icon-tumblr:before {
	content: "\e60e";
}
.icon-linkedin:before {
	content: "\e612";
}
.mls {
	margin-left: .25em;
}

/*-----Corpo da Página-----*/
body
{
	position: relative;
	width: 100%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
}


h2
{
	margin-bottom: 1%;
	font-weight: 900;
	font-size: 1.6em;
}
/*--------CABEÇALHO--------*/
header
{
	width:100%;
	background-color:rgba(241,238,217,0.5);
	background-image: linear-gradient(to right, rgba(88,53,26,0.4) 1px, transparent 0.5px);
	background-size: 15px 15px;
	box-shadow: 7px 7px 5px 0px rgba(88,53,26, 0.3);
	border-radius: 0px 3px 30px 30px;
}
section .principal
{
	position:relative;
	width: 100%;
}
.logo 
{
	width: 28%;
	margin: 2% auto;
	margin-left: 4.5%;
}

.search
{
	position: absolute;

	right: 8%;
	border-radius: 15px 2px 15px 2px;
	margin-top: 7%;
	width: 20%;
	height: 40px;
	box-shadow: 4px 2px rgba(88,53,26,0.4);	
}
.search:focus{
	outline: 0;
}

/*--------CONTEUDO PERFIL--------*/

article.conteudo
{
	position: relative;
	width: 100%;
}
.espaco
{
	margin-left: 2%;
}

.imagem{
	margin:0 auto;
	width: 90%;
	margin-top:4em;
}
.perfil-foto
{
	position: relative;
	max-width:25%;
	border-radius: 0 50%;
	padding: 0;
	margin-left: 8%;
	float: left;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	
}
.perfil-foto:hover
{
	border-radius: 50% 0;
}
.frase2
{
	float: left;
	text-shadow: 2px -2px 8px rgba(150, 150, 150, 0.2); 
	width: 35%;
	font-size: 2em;
	padding-top:7%;
	margin-left: 15%;

}
.frase2{

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.frase2:hover
{
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
	opacity: .9;
}
p.frase2:before
{
	content: open-quote;
	font-size: 2em;
	font-weight:bold;
}
p.frase2:after
{
	content: close-quote;
	font-size: 1.4em;
	font-weight: bold;
}
.habilidades{
	width: 100%;
	float: left;
	clear: both;
	margin-top: 3%;

}
.front, .back, .editorGrafico, .editorCodigo
{

	margin-top: 5%;
	margin-left:8.5%;
	background-color:rgba(247,237,191,0.3);
	background-image: linear-gradient(to right, rgba(56,35,19,0.4) 1px, transparent 0.8px);
	background-size: 15px 15px;
	padding: 3.5%;
	width: 30%;
	-webkit-transition: padding 1.5s;
	-moz-transition: padding 1.5s;
	border-radius: 40px;
	float: left;
	text-shadow: 12px -2px 8px rgba(150, 150, 150, 0.1);
	
}
.front:hover, .back:hover, .editorGrafico:hover, .editorCodigo:hover
{ 
	box-shadow: 2px 4px 3px 0px rgba(88,53,26, 0.6);
}
.editorGrafico, .front{
	background-color: rgba(180,177,120,0.3);	
	background: rgb(254,255,232); /* Old browsers */background: rgb(254,255,232); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 64%, rgba(214,219,191,1) 81%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,255,232,1)), color-stop(64%,rgba(214,219,191,1)), color-stop(81%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
}
.itens li{
	font-size: 1.2em;
}

.outros{
	float: left;
	clear: both;
	margin-top: 10%;
	width: 100%;
	outline: 0;

background-image: -webkit-linear-gradient(-45deg,  #abbd73 9%,#e4efc0 57%,#e4efc0 57%,#e4efc0 63%); /* Chrome10+,Safari5.1+ */



}
.outros li{
	font-size: 1.3em;
	line-height: 1.2;
}

.sistemasOP
{
	background:#F1EED9;
}
.cursos
{
	background: #fdf3dc;	
}
.cursos:hover, .sistemasOP:hover{
	color:white;
	background:rgba(0,0,0,0.9);
	
	
	-webkit-transition:	all 2s linear;
	-moz-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}
.cursos, .sistemasOP{
		float: left;
		clear: both;
		width: 40%;
		margin: 0 3%;
		padding: 3%;
	
	-webkit-transition:	all 2s linear;
	-moz-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}

/*-----Rodapé-----*/
.footer
{
	position: relative;
	width: 100%;
	clear: both;
	background:rgba(241,238,217,0.5);
}
.footer nav
{
	padding-top: 1em;
	margin:0 auto;
	line-height: 2.5;
	position: absolute;
	right: 10%;
}
.footer nav li
{
	display: inline-block;
	margin-left: 1.5em;
	font-size: 1.6em;
}

.footer a
{
	text-decoration:none;
	color: #382313;
}
